html, body{
  height: 100%;
}

header {
  background-color: black;
  height: 20%;
  width: 100%;
}

.left {
  width: 10%;
  background-color: gray;
  height: 100%;
  float: left;
}

.right {
  width: 10%;
  background-color: gray;
  height: 100%;
  float: right;
}

.middle {
  width: 100%;
  height: 90%;
  background-color: white;
}

.bottom {
  width: 80%;
  height: 10%;
  background-color: black;
  margin: auto;

}
